body {
    font-family: Roboto,Helvetica,sans-serif;
    font-smooth: 2em;
}

.text--white {
    color: #ffffff !important;
}

.v-btn__content {
    text-transform: none;
}

.no_padding {
    padding: 0 !important;
}